* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  font-size: 22px;
  position: relative;
  min-height: 100vh;
}

// Nav styling
nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0 175px;
}

button {
  color: inherit;
  border: none;
  padding: 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.1s ease-in-out background-color, 0.1s ease-in-out transform;
  display: flex;
  align-items: center;
  img {
    height: 37px;
    margin-right: 4px;
  }
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

button:active {
  transform: scale(0.99);
}

.menu-item {
  height: 100%;
  width: 25%;
  padding-block: 25px;
}

// Main styling

main {
  padding: 100px 200px;
  display: flex;
}

.card-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  transition: 0.1s ease-in-out background-color;
}

.card-container:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1050px) {
  body {
    font-size: 21px;
  }

  .menu-item {
    width: 100%;
  }

  main {
    padding: 75px 40px;
    display: flex;
  }

  button {
    flex-direction: column;
  }
}
